
html{overflow-y: scroll; overflow-x: hidden;}
body{
	margin: 0;
	padding: 0;
	background: url(back2.jpg);
	background-size: cover;
	font-family: sans-serif;
}
.regbox{
	width: 350px;
	height: 730px;
	background: #000;
	color: #fff;
	top: 70%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 20px 10px;
}
h1{
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
	font-size: 22px;
}
.regbox p {
	margin: 0;
	padding: 0;
	font-weight: bolder;
}
.regbox input{
	width: 100%;
	margin-bottom: 20px; 
}
.regbox input[type="text"], input[type = "password"], input[type = "name"], input[type = "address"], input[type = "email"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.regbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #fb2525;
	font-size: 18px;
	border-radius: 20px;

}
.regbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.regbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: darkgrey
}
.regbox a:hover
{
	color: #ffc107;
}
